<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static\base\css\home.css">
</head>
<body>
    {% include "blood/navbar.html" %}

    <div align="center" style="padding-top:80px;">
        <h1>Poona Serological Institute Blood Bank</h1>
    </div>

    <div class="container">

        <div class="section1">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 section1-left">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipPAXRtpzbD0XtyRh6wHDZ03g3yqXweYfwPMWUpQ=s680-w680-h510" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 section1-right">
                    <h3>Information</h3>
                    <p>Established in the year 2004, Poona Serological Institute Blood Bank in Rasta Peth, Pune is a top player in the category Blood Banks in the Pune. This well-known establishment acts as a one-stop destination servicing customers both local and from other parts of Pune. Over the course of its journey, this business has established a firm foothold in it’s industry. The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, which continues to grow by the day. This business employs individuals that are dedicated towards their respective roles and put in a lot of effort to achieve the common vision and larger goals of the company. In the near future, this business aims to expand its line of products and services and cater to a larger client base. In Pune, this establishment occupies a prominent location in Rasta Peth.
                    </p>
                </div>
            </div>
        </div>

        <div class="section2">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 section2-left">
                    <p>Poona Serological Institute Blood Bank in Pune is one of the leading businesses in the Blood Banks. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Poona Serological Institute Blood Bank, Pune.
                        Poona Serological Institute Blood Bank in Rasta Peth has a wide range of products and / or services to cater to the varied requirements of their customers. The staff at this establishment are courteous and prompt at providing any assistance. They readily answer any queries or questions that you may have. Pay for the product or service with ease by using any of the available modes of payment, such as Cash. This establishment is functional from 09:30 - 18:30. It is an effortless task in commuting to this establishment as there are various modes of transport readily available. It is at , Near Tarachand Hospital, which makes it easy for first-time visitors in locating this establishment</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 section2-right">
                    <img src="https://images.jdmagicbox.com/comp/pune/01/020p5055001/catalogue/janakalyan-blood-bank-shukrawar-peth-pune-blood-donation-centres-lzwepb.jpg?clr=" alt="">
                </div>
            </div>
        </div>
    </div>

    <div align="center" style="background-color:red; color:white; padding:5px 10px; margin-top:50px;">
        <p>@2021 Blood Connection All Right Reserved </p>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>